{% extends 'base.html.twig' %}

{% block title %}Mechanics List!{% endblock %}

{% block body %}

    <h1 class="title">Mechanics in Library</h1>
    <div class="sort">
        <div class="title2 title-sort">Mechanic list order by:</div>
            <form action="{{ path('mechanic_index')}}" method="GET">
                <select class="select-sort" name="sort">
                    <option value="default">default</option>
                    <option value="name_az" {% if sortBy == 'name_az' %} selected {% endif %}>name</option>
                    <option value="name_za" {% if sortBy == 'name_za' %} selected {% endif %}>name reverse</option>
                    <option value="surname_az" {% if sortBy == 'surname_az' %} selected {% endif %}>surname</option>
                    <option value="surname_za" {% if sortBy == 'surname_za' %} selected {% endif %}>surname reverse</option>
                </select>
                <div class="sort-btn">
                    <button class="edit" type="submit">Sort it!</button>
                </div>
            </form>
            <div class="clear-btn">
                <a class="delete" action="{{ path('mechanic_index')}}">clear</a>
            </div>
    </div>
    <ul>
    {% for mechanic in mechanics %}
        <div class="list">
            <div class="name-surname">{{mechanic.name}} {{mechanic.surname}}</div>
            {% for truck in mechanic.trucks %}
                <div class="count">{{truck.maker}}</div>
            {% endfor %}
            <div class="delete-btn">
                <form action="{{ path('mechanic_delete', {id: mechanic.id}) }}" method="POST">
                <button class="delete" type="submit">DELETE</button>
                </form>
            </div>
            <div class="edit-btn">
                <a  class="edit" href="{{ path('mechanic_edit', {id: mechanic.id}) }}">Edit mechanic</a>
            </div>
        </div>
    {% endfor %}
    </ul>
{% endblock %}