{% extends 'base.html.twig' %}

{% block title %}Mechanics List!{% endblock %}

{% block body %}

    <h1 class="title">Mechanics in Library</h1>

    <div class="title2">Mechanics list:</div>
    <ul>
    {% for mechanic in mechanics %}
        <div class="list">
            <div class="name-surname">{{mechanic.name}} {{mechanic.surname}}</div>
            {% for truck in mechanic.trucks %}
                <div class="count">{{truck.maker}}</div>
            {% endfor %}
            <div class="delete-btn">
                <form action="{{ path('mechanic_delete', {id: mechanic.id}) }}" method="POST">
                <button class="delete" type="submit">DELETE</button>
                </form>
            </div>
            <div class="edit-btn">
                <a  class="edit" href="{{ path('mechanic_edit', {id: mechanic.id}) }}">Edit mechanic</a>
            </div>
        </div>
    {% endfor %}
    </ul>
{% endblock %}