{% extends 'base.html.twig' %}

{% block title %}Mechanics List!{% endblock %}

{% block body %}

    <h1>Mechanics in Library ✅</h1>

    List:
    <ul>
    {% for mechanic in mechanics %}
        <li>
        {{mechanic.name}} {{mechanic.surname}}
        <a href="{{ path('mechanic_edit', {id: mechanic.id}) }}">Edit</a>
        <form action="{{ path('mechanic_delete', {id: mechanic.id}) }}" method="POST">
        <button type="submit">DELETE</button>
        </form>
        </li>
        {% for truck in mechanic.trucks %}
                {{truck.maker}}<br>
            {% endfor %}
    {% endfor %}
    </ul>
</div>
{% endblock %}