{% extends 'base.html.twig' %}

{% block title %}Create new Truck!{% endblock %}

{% block body %}
    <h1 class="title">Create new Truck!</h1>
    <div class="list">
        <form action="{{path('truck_store')}}" method="POST">
            <div class="create-name">Maker:<input class="input" type="text" name="truck_maker" value="{{ truck_maker }}"></div>
            <div class="create-name">Plate:<input class="input" type="text" name="truck_plate" value="{{ truck_plate }}"></div>
            <div class="create-name">Make year:<input class="input" type="text" name="truck_make_year" value="{{ truck_make_year }}"></div>
            <div class="create-name">Mechanic notices:<textarea class="input" name="truck_mechanic_notices" value="{{ truck_mechanic_notices }}"></textarea></div>
            <select class="select" name="truck_mechanic_id">
            {% for mechanic in mechanics %}
            <option value="{{mechanic.id}}">{{mechanic.name}} {{mechanic.surname}}</option>
            {% endfor %}
            </select>
            <div class="add-btn">
                <button class="add" type="submit">Add new Truck</button>
            </div>
        </form>
    </div>
{% endblock %}