{% extends 'base.html.twig' %}

{% block title %}Trucks List!{% endblock %}

{% block body %}

    <h1 class="title">Trucks in Library</h1>
    <div class="title2">Trucks list:</div>
    <ul>
    {% for truck in trucks %}
        <div class="list">
            <div class="name-prop">{{truck.maker}} <span class="name-prop1">Mechanic: {{truck.mechanic.name}} {{truck.mechanic.surname}}</span></div>
            <div class="delete-btn">
                <form action="{{ path('truck_delete', {id: truck.id}) }}" method="POST">
                <button class="delete" type="submit">DELETE</button>
                </form>
            </div>
            <div class="edit-btn">
                <a  class="edit" href="{{ path('truck_edit', {id: truck.id}) }}">Edit Truck</a>
            </div>
        </div>
        
    {% endfor %}
    </ul>
{% endblock %}